<div class="container" id="resume">
  <div class="background-section">
    <h1>Mohammad Dilshad</h1>
    <h2>Software Developer</h2>
    <div id="headercontainer">
      <ul>
        <li>Email: contact.dmohammad&#64;gmail.com</li>
        <li>Phone: +91-8999784575</li>
      </ul>

      <div class="button-container">
        <a href="assets/resume.pdf" download="Resume_MohammadDilshad.pdf">
          <button id="downloadButton">Download Resume</button>
        </a>
        <app-meeting></app-meeting>
      </div>
      <ul>
        <li>
          <a href="https://github.com/mr-dilshad" target="_blank">GitHub</a>
        </li>
        <li>
          <a
            href="https://www.hackerrank.com/mohammaddilshad1?hr_r=1"
            target="_blank"
            >HackerRank</a
          >
        </li>
        <li>
          <a href="https://www.kaggle.com/mohammaddilshad" target="_blank"
            >Kaggle</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/mohammad-dilshad-461644140/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </div>

  <h3>Professional Experience</h3>
  <table>
    <tr class="lineSeperator">
      <th>11/2023 &ndash; Present<br />Noida, India</th>
      <th>
        <h4>Senior Associate L1 Technology</h4>
        <br />Publicis Sapient
        <ul>
          <li>
            TCS: Built an internal library for seamless integration with Google
            Pub/Sub, empowering developers with streamlined messaging solutions.
          </li>
          <li>
            UHG: Enhanced system stability with email notifications, automated
            stale job updates via cron jobs, and contributed to autoscaling
            solutions.
          </li>
        </ul>
      </th>
    </tr>
    <tr class="lineSeperator">
      <th>08/2022 &ndash; 07/2023<br />Chennai, India</th>
      <th>
        <h4>Application Developer</h4>
        <br />Paypal (CW)
        <ul>
          <li>
            Spearheading the re-architecture of legacy payments applications,
            enhancing system capabilities and future-proofing the software
            infrastructure.
          </li>
          <li>
            Responsible for the management of high-traffic endpoints, which
            account for 70% of PayPal's global payments traffic, emphasizing
            performance, availability, and security.
          </li>
          <li>
            Mentored junior developers, aiding in their professional growth and
            improving overall team efficiency.
          </li>
          <li>
            Managed client relationships, consistently receiving positive
            feedback for clear communication and problem-solving.
          </li>
          <li>
            Conducted interviews for potential new hires, contributing to team
            expansion and talent acquisition.
          </li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>04/2021 &ndash; 09/2022</th>
      <th>
        <h4>Java Software Developer</h4>
        <br />Tata Consultancy Services
        <ul>
          <li>
            Played a key role in developing and maintaining the primary service
            of a major e-commerce application, responsible for managing and
            distributing all data to downstream applications.
          </li>
          <li>
            This critical service was instrumental in streamlining operations
            and ensuring optimal efficiency for warehouse staff.
          </li>
          <li>
            Worked closely with cross-functional teams to identify potential
            enhancements, leading to increased system reliability and
            performance.
          </li>
          <li>
            Regularly analyzed system performance data to identify potential
            issues and devise solutions, ensuring system stability and
            minimizing downtime.
          </li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>06/2019 &ndash; 03/2021</th>
      <th>
        <h4>Flutter Developer</h4>
        <br />Freelancing
        <ul>
          <li>
            Developed mobile applications utilizing the Flutter framework,
            demonstrating proficiency in Dart programming language.
          </li>
          <li>
            Designed and implemented custom UI components, enhancing user
            experience across multiple projects.
          </li>
          <li>
            Leveraged Flutter's widget catalog extensively to create intuitive
            applications for both iOS and Android platforms.
          </li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>07/2020 &ndash; 11/2020<br />Gurgaon, India</th>
      <th>
        <h4>Associate Analyst, Content Engineering</h4>
        <br />GlobalLogic
        <ul>
          <li>
            Conducted research on key areas including visual object recognition,
            tracking, self-localization, and 3D reconstruction.
          </li>
          <li>
            Applied advanced machine learning and computer vision algorithms to
            enhance visual object recognition and tracking capabilities.
          </li>
        </ul>
      </th>
    </tr>
  </table>

  <h3>Education</h3>
  <table>
    <tr>
      <th>08/2015 &ndash; 07/2019<br />New Delhi, India</th>
      <th>
        <h4>Bachelor of Technology</h4>
        Jamia Millia Islamia
      </th>
    </tr>
  </table>

  <h3>Certifications</h3>
  <table>
    <tr>
      <th>04/2021</th>
      <th>
        <h4>Certification and Courses</h4>
        <br />Working on Certified Kubernetes Application Developer.
      </th>
    </tr>
  </table>

  <h3>Projects</h3>
  <table>
    <tr>
      <th>05/2022 &ndash; present</th>
      <th>
        <h4>E-commerce Microservice</h4>
        A microservice made using domain-driven design architecture, saga &
        outbox design patterns.<br /><br />
        <h4>Notifications Service</h4>
        A multimodule microservice for sending real-time notifications using
        Kafka and WebSockets.<br /><br />
        <h4>Order Management System</h4>
        Developed an online food ordering system via QR code scanning, ideal for
        busy bars and restaurants.
        <br />
        <a href="https://github.com/mr-dilshad/phangan-arena" target="_blank">
          <i
            class="fab fa-github"
            style="font-size: 20px; margin-right: 5px"
          ></i>
          View on GitHub
        </a>
        <br />
        <a href="https://github.com/mr-dilshad/orderservice" target="_blank">
          <i
            class="fab fa-github"
            style="font-size: 20px; margin-right: 5px"
          ></i>
          View on GitHub
        </a>
        <br /><br />
        <h4>Time Booking System</h4>
        Created a time slot booking service for scheduling appointments
        efficiently.
      </th>
    </tr>
    <tr>
      <th>12/2020 &ndash; 01/2021</th>
      <th>
        <h4>Chat App</h4>
        A simple chat app with push notification feature.<br /><br />
        <h4>Newsletter System</h4>
        Designed a subscription-based service for newsletters, enabling users to
        subscribe to receive updates.
        <a
          href="https://github.com/mr-dilshad/my-newsletter-service"
          target="_blank"
        >
          <i
            class="fab fa-github"
            style="font-size: 20px; margin-right: 5px"
          ></i>
          View on GitHub
        </a>
      </th>
    </tr>
    <tr>
      <th>02/2020</th>
      <th>
        <h4>Chiggi</h4>
        E-commerce mobile application for Android and iOS.<br /><br />
        <h4>Email Notification System</h4>
        Built a system for sending email notifications with acknowledgment
        tracking.<br /><br />
        <h4>User Management Service</h4>
        Implemented a service to manage and track online users in real-time.
        <a href="https://github.com/mr-dilshad/emailService" target="_blank">
          <i
            class="fab fa-github"
            style="font-size: 20px; margin-right: 5px"
          ></i>
          View on GitHub
        </a>
      </th>
    </tr>
    <tr>
      <th>08/2019</th>
      <th>
        <h4>Business IT Transformation Website</h4>
        Created a website for hiring engineers online, transforming IT business
        workflows.
      </th>
      <a href="https://github.com/mr-dilshad/subhan-studio" target="_blank">
        <i class="fab fa-github" style="font-size: 20px; margin-right: 5px"></i>
        View on GitHub
      </a>
    </tr>
  </table>

  <h3>Professional Skills</h3>
  <h4>Software/Technologies/Toolkits</h4>
  <ul>
    <li><b>Frontend</b>: Flutter, Angular.js, React.js</li>
    <li>
      <b>Backend Frameworks</b>: SpringBoot, Spring Cloud, Spring Security,
      Spring Webflux
    </li>
    <li><b>Languages</b>: Java, TypeScript, Python, Dart, C, Scala</li>
    <li>
      <b>Cloud related</b>: ARM Templates, Kubernetes, Helm charts, CI/CD using
      Azure DevOps, Docker, AWS
    </li>
    <li><b>Scripting languages</b>: Bash, PowerShell</li>
    <li><b>Version control</b>: Git</li>
    <li><b>Databases</b>: SQL, MongoDB, Redis, Cassandra, GraphQL, PLSQL</li>
    <li><b>Messaging queue</b>: Kafka, RabbitMQ</li>
    <li>
      <b>Others</b>: Multithreading, Memory Management, Caching Framework,
      Machine Learning, NLP
    </li>
  </ul>
</div>
